__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage

.venv/
venv/
.env

generator/instance.json
generator/staging/

cmd_out.txt
cmd_err.txt
docs/r3_server_*.log
docs/r3_web_*.log

.DS_Store
Thumbs.db
